.button {
  --color: var(--color8);
  cursor: pointer;
  border: none;
  border: 1px solid color-mix(in srgb, var(--color), var(--background) 40%);
  border-radius: var(--component-border-radius);
  background-color: var(--color);
  padding: 0.5rem 1em;
  color: var(--foreground);
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.primary {
  --color: var(--color4);
  color: var(--background);
}
.secondary {
  --color: var(--color7);
  color: var(--background);
}
.warning {
  --color: var(--color3);
  color: var(--background);
}
.danger {
  --color: var(--color1);
}

.outline {
  background: none;
  color: currentColor;
}

.ghost {
  border: none;
  background: none;
  color: var(--color);
}
